/*This Class changes the text colour of the row chart*/
.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/*@font-face selects the font that is used for the dashboard.*/
@font-face {
    font-family: 'parry_hotterregular';
    src: url('parryhotter-webfont.woff2') format('woff2'),
    url('parryhotter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*The navbar branding styles the way the logo looks. It uses the harry potter font.*/
.navbar-brand {
    font-family: 'parry_hotterregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#outer {
    margin-top: 40px;
}

.navbar {
    background: url(bg_logo.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*The chart title css styling sets up the titles above each chart.*/
#chart-title-css {
    font-family: 'parry_hotterregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

/*This is the styling of the 'Counter' chart element that shows the total number of characters.*/
#hp-character-total {
    position: relative;
    font-size: 80px;
    height: 180px;
    vertical-align: top;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

body {
    line-height: normal;
}

.dc-chart g.axis.x text {
    font-size: 15px;
}

.dc-chart g.axis.y text {
    font-size: 15px;
}

.dc-chart .pie-slice {
    font-size: 15px;
}

/*The button style elements below create the blue effect of the buttons and add the interactive aspects of the buttons*/
.buttonStyle {
    text-align: center;
}

.buttonStyle button {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #2194e0;
    border: 2px solid #2194e0;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 15px;
}

.buttonStyle button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.buttonStyle button:hover {
    background-color: #2194e0;
    color: #fff;
    border-bottom: 4px solid #1977b5;
}

.buttonStyle button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}

.dc-chart .axis text {
    font-size: 12px;
}
